doctype html
html(lang="en", ng-app="app")
  head
    title Boilerplate
    link(rel="stylesheet", type="text/css", href="styles.css")
    script(type="text/javascript", src="vendor.js")
    script(type="text/javascript", src="scripts.js")
  body
    h1 Boilerplate
